<div class="container">
    <div class="parent-container">
        <img src="../../assets/images/png/Ok-mark.png" alt="Rock Paper Scissors" class="img-fluid">
        <div class="rules-title">
            <h1>How to Play Rock Paper Scissors</h1>
            <p>Learn the rules of the classic game Rock Paper Scissors.</p>
        </div>
    </div>
    <div class="rules-text">
        <p>Rock Paper Scissors is a simple hand game played by two or more people. The game has three possible outcomes:
            rock beats
            scissors, scissors beats paper, and paper beats rock.</p>
        <p>To play, each player simultaneously forms one of three shapes with an outstretched hand:</p>
        <div class="row">
            <div class="col-6">
                <ul>
                    <li>Rock - fist</li>
                    <li>Paper - flat hand with fingers extended</li>
                    <li>Scissors: a fist with the index and middle fingers extended like a pair of scissors</li>
                </ul>
            </div>
        </div>
        <p>After the players have chosen their shapes, they reveal them at the same time. The winner is determined by
            the rules:
        </p>
        <p>Rules:</p>
        <ul>
            <li>Rock beats scissors</li>
            <li>Scissors beats paper</li>
            <li>Paper beats rock</li>
        </ul>
        <p>If both players choose the same shape, it's a tie and the game is usually played again.</p>
    </div>
</div>