<div class="container">
    <div class="hand-signs">
        <form>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle style="background-image: url(../../assets/images/svg/Layer\ 1.svg);"
                    value="rock">Rock</mat-button-toggle>
                <mat-button-toggle style="background-image: url(../../assets/images/svg/Layer\ 2.svg);"
                    value="scissors">Scissors</mat-button-toggle>
                <mat-button-toggle style="background-image: url(../../assets/images/svg/Layer\ 3.svg);"
                    value="paper">Paper</mat-button-toggle>
            </mat-button-toggle-group>
        </form>
    </div>

</div>